@page "/If_Else_Intro"
@using BlazorTutorial_1.Components
@using BlazorTutorial_1.Classes
@inject HelpBoxInfo HelpBoxInfo
@implements IDisposable
<div class="set-padding">
    <!--Title-->
    <h1 class="page-title"><strong>If-Else Injection</strong></h1>
    <!--Header-->
    <h4 style="padding-bottom: 15px;">Classic If-else statements are the backbone of codeing!</h4>



    <!--Text box positioning-->
    <div class="position-sticky form-position">

        <textarea readonly class="form-control codeAssistant primary-textarea"
                  id="exampleFormControlTextarea3">@Code</textarea>
        <br />
        <InfoTextHandler setRefText="@HelpBoxInfo.helpBoxText"
                         boxColor="@HelpBoxInfo.boxColor" />
    </div>



    <!--Left half of screen-->
    <div class="row">
        <!--The What section:-->
        <div class="col-11 border border-primary rounded padded what-section">
            <h5><strong>WHAT</strong></h5>
            <!--Info here:-->
            Below we have a simple if-statement asking whether the current count is at or above 5.
            There are also two buttons that allow the user to add or remove 1 from the count.
        </div>
        <div class="col-1"></div>






        <!--The Demo section:-->
        <div class="col-11 border border-success rounded padded demo-section">
            <h5><strong>DEMO</strong></h5>
            <!--Info here:-->
            <If_Else />

        </div>
        <div class="col-1"></div>






        <!--The How section:-->
        <div class="col-11 border border-secondary rounded padded how-section">
            <h5><strong>HOW</strong></h5>
            <!--Info here:-->
            <p>
                Lets take a close look at the entire <HighlightedInfoHandler highlightedText="if statement."
                                                                             helpBoxText="@ifStatement"
                                                                             infoType="infoVar"
                                                                             boxColor="@infoVarColor" /> 

                <HighlightedInfoHandler highlightedText="Note"
                                        helpBoxText="@note1"
                                        infoType="infoSyn"
                                        boxColor="@infoSynColor" />
            </p>
            <p>
                None of the else-if/else statements following the initial if require the @at symbol. 
                <HighlightedInfoHandler highlightedText="Note"
                                        helpBoxText="@note2"
                                        infoType="infoSyn"
                                        boxColor="@infoSynColor" />
            </p>
            <p>Also, C# variables referenced within the if parentheses do not require an @at</p>
            <p>Direct html if-statement injection allows us to show server-side changes as soon as they happen. <br />
            This is made possible by the SignalR communication between the html and C# of Blazor.</p>

        </div>
        <div class="col-1"></div>






        <!--The Alternate Solutions section:-->
        <div class="col-11 border border-warning rounded padded alt-section">
            <h5><strong>Alternate Solutions</strong></h5>
            <!--Info here:-->
            <p><a href="https://www.webassemblyman.com/blazor/blazorifelseif.html" target="_blank">This is an article about the same topic with additional examples.</a></p>

            <p><a href="https://www.w3schools.com/js/tryit.asp?filename=tryjs_elseif" target="_blank">This is a w-3 schools example of a javascript implementation of a similar example.</a></p>
        </div>
        <div class="col-1"></div>
        <!--End of content sections-->
    </div>
</div>
@code{

    //set
    public string infoVarColor = "#00ffff!important;";
    public string infoSynColor = "#b5c9e2!important;";
    public string infoGenColor = "#fcf8e3!important;";

    //example variable injection
    private string at = "@";

    //Program startup and maintenance
    protected override void OnInitialized()
    {
        HelpBoxInfo.helpBoxText = "";
        HelpBoxInfo.mouseContext = "";
        HelpBoxInfo.toggle = false;
        HelpBoxInfo.boxColor = "";
        HelpBoxInfo.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        HelpBoxInfo.OnChange -= StateHasChanged;
    }

    public string note1 = "Note that you are only required to place an @ symbol before the initial if declaration.";
    public string note2 = "The @ symbol is required at the beginning of every html if statement. " +
            "Including nested ones.\n\nHowever, it is not required in the else-if or else sections " +
            "following the initial if declaration.\n\n" +
            "example:\n" +
            "@if (currentCount >= 5)\n" +
            "{\n" +
            "    <p>Yes!!!</p>\n" +
            "    @if(currentCount == 6)\n" +
            "    {\n" +
            "        <p>the count is at 6</p>\n" +
            "    }\n" +
            "}\n" +
            "else\n" +
            "{\n" +
            "    <p>Nope...</p>\n" +
            "}\n\n" +
            "Note that the nested if has an @. ";
    public string Code = "@page \"/If_Else\"\n"
+ "\n"
+ "<p>Is the current count 5 or higher?</p>\n"
+ "<p>Current count: @currentCount</p>\n"
+ "\n"
+ "@if (currentCount >= 5)\n"
+ "{\n"
+ "    <p>Yes!!!</p>\n"
+ "}\n"
+ "else if (currentCount< 0)\n"
+ "{\n"
+ "    <p>Woa, you're in the negatives!</p>\n"
+ "}\n"
+ "else\n"
+ "{\n"
+ "    <p>Nope...</p>\n"
+ "}\n"
+ "\n"
+ "<button class=\"btn btn-primary\" @onclick=\"IncrementCount\">add 1</button>\n"
+ "<button class=\"btn btn-secondary\" @onclick=\"DecrementCount\">remove 1</button>\n"
+ "\n"
+ "@code {\n"
+ "    private int currentCount = 0;\n"
+ "\n"
+ "    private void IncrementCount()\n"
+ "    {\n"
+ "        currentCount++;\n"
+ "    }\n"
+ "    private void DecrementCount()\n"
+ "    {\n"
+ "        currentCount--;\n"
+ "    }\n"
+ "}";
    public string ifStatement = "@if (currentCount >= 5)\n"
+ "{\n"
+ "    <p>Yes!!!</p>\n"
+ "}\n"
+ "else if (currentCount< 0)\n"
+ "{\n"
+ "    <p>Woa, you're in the negatives!</p>\n"
+ "}\n"
+ "else\n"
+ "{\n"
+ "    <p>Nope...</p>\n"
+ "}\n";
}